/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* Imported Typeface Files */
@font-face {
    font-family:'Lato';
    src: url('../fonts/sans-serif/lato-regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:'Montserrat';
    src: url('../fonts/sans-serif/montserrat-regular.ttf') format('truetype'); 
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:'Robotoslab';
    src: url('../fonts/serif/robotoslab-regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:'Opensans';
    src: url('../fonts/sans-serif/opensans-regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:'Ultra';
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:'Roboto';
    src: url('../fonts/sans-serif/roboto-regular.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
@font-face {
    font-family:'Rohazone' ;
    src: url('../fonts/serif/rozhaone-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* Root */

html {
    font-size:16px;
}


/* Setup and defaults */
* {
    box-sizing: border-box;
}

header {
    padding: 0.5rem 0rem 1rem 0rem;
}

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size:1.5rem;
    color:midnightblue;
    font-family: 'Opensans', Arial, sans-serif;
    font-weight: bold;
}



/* Body & Main  */

body {
    font-family: 'Opensans', Arial, sans-serif;
    font-size:1rem;
    padding:auto;
    min-width:39rem;
    max-width:fit-content;
    background-color: #fff;
    margin: 1.5rem auto;
    width:90%;
    
}


main {
    background: color #000000;
   
}

/* Layout */

.main-section {
    margin: auto;
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;

}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}



/* Link Styling */

a {
    outline: none;

}

a:link, a:visited {
color: #33658A;

}

a:focus, a:hover {
text-decoration: none;
color:#025033
}

/* Typography */
h1 {
    text-transform:capitalize;
    font-size:2.5rem;
    margin: 0;
    letter-spacing: .25rem;
    color:rgb(80, 7, 7);
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Lato', Garamond, serif;
    text-align:center;
    transform:rotate(-7deg);
    padding:0.7em;
    text-align: center;
}

h2 {

    text-transform: uppercase;
    color:rgb(0, 56, 139);
    text-shadow: 0.1rem 0.1rem 0.2rem #000;
    font-family:'Rohazone', Garamond, serif;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    font-weight: normal;
    text-align:center;
}

h3 {

    text-transform:capitalize;
    color:rgb(80, 7, 7);
    text-shadow:.09375rem .09375rem .09375rem #575454;
    font-family:'Robotoslab', Garamond, serif;
    font-size: 2rem;
    font-weight: normal;
    text-align:center;
    padding-top: 0;
}

h4 {

    text-transform: uppercase;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Lato', Garamond, serif;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    font-weight: normal;
    padding-bottom: 1.125rem;
    text-align:center;
}

h5 {

   
    font-size: 1rem;
   margin-top: 0.25rem;
   padding: 0.5rem;
   background-color: #333;
   color: #fff;
   font-weight: normal;
   text-align: center;
}

/* Sidebar */
aside {
  grid-column: 2 / 3;
  grid-row: 1;
  border-left:#000 solid 1px;                                                                     
  padding-left: 0.75rem;
}

aside div {
display:block;
padding:0.1em;
}

aside p {
    border-bottom: #000 1px solid;
    padding-bottom: 0.5rem;
}

.expand {
    padding-top:0.1em;
    font-size: smaller;

}

/* Navigation */

nav {
    margin-top: 1rem;
    border-style: solid;
    align-items:stretch;
    font-size: larger;
    font-family: 'Robotoslab', serif;
   font-weight: bold;
    font-size: 1.1em;
    width: 100%;
    padding: 1em;
    border-style:solid;
     border-width: medium 0 medium 0;
     border-color: #000;nav a {
        font-size: larger;
        font-stretch: expanded;
        
     }
           
        }


nav a:active {
    background-color: #04AA6D;
    color: white;
  }

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
   
  }

  
  /* Add a color to the active/current link */

  .current {
font-style:oblique;
font-variant:small-caps;
font-stretch: extra-expanded;
 transform: rotate(10deg) rotateX(-10deg) skewX(-2deg);
 -webkit-transform: rotate(-10deg);
 text-decoration:line-through;
  }

/* Section & Paragraph */

section {

    margin-top: 0.5rem; 
    
}

.subsection {

    display: flex;
    margin: 1rem 0rem;

}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #fff2ac;
}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  }

p {

    padding:0.1em;
    text-align: left;
    font-family: 'Roboto', Arial, sans-serif;

    

    
}



.attribution {
   text-align: left;
  

}




.highlight {
    font-family: 'Ultra'; 'Times New Roman', serif;
    font-size: 2.7rem;
  background-color: #aee46c;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius:1rem;
  box-shadow: 10px 10px 4px -1px #777777;
  color: #8b0000;
 
 
  
  
}

button {
    background-color:rgb(232, 125, 125);
    font-family: 'Ultra', "times new roman", serif;
    color:#ddd
}

.button {
    padding: 0.1rem
    background-color:darkred;
    background:darkred;
  font-weight: medium;
  text-shadow: #fff2ac;
  padding: 1em;
  outline-style: double;
  outline-width: thick;
  outline-color: brown;
  text-align: center;
 font-family: 'Ultra', Times New Roman, Serif;
 font-size: larger;
 box-shadow: 10px 10px;
color:ffffff;
box-decoration-break: slice;
width:10em;
}



.datetime {
    font-weight: medium;
    text-align: right;
    align-self: center;
    padding: 0.1rem;
    white-space: normal;

}

/* Image & Figure */

img {
display: block;
    width: 100%;
}



figure {
    background-color: lightgray;
  margin:0px;
}

.article-image {
   float: left; 
   margin-right: 0.75rem;
   width:33%;
   padding:0.1em;
}

figcaption {
    background-color: lightgrey;
    font-style: italic;
    text-align: center;

}

h1>span {

    padding: 0 0.5rem;
    position: sticky;
    
}

menu {
font-variant: small-caps;
}


/* Footer */

footer {

    padding: 1rem;
    border-top: 2rem solid #333;
    clear: both;
}



